body{
    margin: 0;
    background-color: rgb(238, 123, 146);
}
.container{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, a{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 300px;
    width: 300px;
}

